<div class="container justify-content-center text-center">
  <h1>Administración de artículos</h1>
  <table>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Borrar</th>
      <th>Seleccionar</th>
    </tr>
    <!-- Elementos del array que se mostraran en la tabla -->
    <tr *ngFor="let item of datosRecibidos">
      <td>{{item.codigo}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.precio}}</td>
      <!-- Botones de acción de la tabla -->
      <td><button (click)="deleteItem(item.codigo)">Borrar?</button></td>
      <td><button (click)="selectItem(item.codigo)">Seleccionar</button></td>
    </tr>
  </table>
</div>

<app-insertitem (productListPush)="recibirDatos($event)" [producListPull]="datosRecibidos" [itemSelected]="itemSelect"></app-insertitem><!--  -->